body {
  font-family: Iosevka;
  margin: 0 10% 2em;
}

h1 {
  font-weight: 800;
}

form label {
  float: left;
  width: 25%;
  text-align: right;
  margin-right: 1em;
  margin-top: 1em;
}
form input {
  float: left;
  width: 65%;
  margin-top: 1em;
}

button {
  /* background-color: #51b0e8; */
  /* color: #090c10; */
  /* padding: 5px 10px; */
  /* border-radius: 6px; */
  float: right;
}
